# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr

# Generated
app/src/main/java/io/botinis/app/data/local/
app/src/main/res/values/strings_generated.xml

# Secrets
secrets.properties
